html,
body {
  padding: 0;
  margin: 0;
}

body {
  word-break: keep-all;
}

h2 {
  text-align: center;
}

.item {
  font-size: 14px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.item p {
  padding: 0;
  margin: 0;
}

.item .tit {
  font-weight: bold;
}

.btn_wrap {
  text-align: center;
  padding: 20px;
}

.btn_wrap button {
  padding: 10px 20px;
}
